.level4 .ant-collapse-header {
  background-color: #ff7a45;
}

.level3 .ant-collapse-header {
  background-color: #faad14;
}

.level2 .ant-collapse-header {
  background-color: #ffbb96;
}

.level1 .ant-collapse-header {
  background-color: #237804;
}

ul.slick-dots li {
  background-color: black;
}

ul.slick-dots li.slick-active {
  background: blue !important;
  background-color: blue !important;
}

.slick-dots li::after {
  background: blue !important;
}
